/*==============================================

        Button

==============================================*/
.btn{
    position: relative;

    padding: 0.8rem 2rem;

    background: #333;
    outline: none;
    border: none;

    @include font('Montserrat');
    color: #fff;

    cursor: pointer;

    transform: skew(-30deg);

    &__text{
        display: inline-block;
        transform: skew(30deg);
    }


    &__left{
        position: absolute;
        left: -25px;
        bottom: 0;
        height: 100%;
        width: 15px;

        background: $mainColor;

        transform-origin: bottom;
        transform: scaleY(1);

        transition: transform 0.2s ease-out;
    }
    &__right{
        position: absolute;
        right: -25px;
        top: 0;
        height: 100%;
        width: 15px;

        background: $mainColor;

        transform-origin: top;
        transform: scaleY(1);

        transition: transform 0.2s ease-out;
    }


    &:hover{
        .btn__left, .btn__right{
            transform: scaleY(1.5);
        }
    }

}



/*==============================================

        Buttons Social Login

==============================================*/
.btn_login_social{

    width: 100%;
    padding: 0.5em 1em;
    margin: 1em 0;

    display: flex;
    justify-content: flex-start;

    line-height: 30px;
    font-size: 24px;

    color: #fff;

    svg{
        margin: 0 2em 0 1em;
        height: 30px;

        fill: #fff;
    }

    @include font('Montserrat');

    &__red{
        background: #F44336;
    }
    &__black{
        background: #111;
    }
    &__blue{
        background: #0777E9;
    }

}


