/*============================
    Flex
=============================*/
.flex{
    display: flex;
}
.flex-sparound{
    justify-content: space-around;
}
.flex-beet{
    justify-content: space-between;
}
.flex-cent{
    justify-content: center;
}
.flex-even{
    justify-content: space-evenly;
}
.flex-middle{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
