/*==============================================

        Reset CSS

==============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}
body{
    //padding-top: 10vh;
    padding-bottom: 5rem;
}
body,html{
    overflow-x: hidden;
}



/*============================
    Globals
=============================*/
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
nav {
    position: relative;
    //top: 0;
    //left: 0;
    //right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    ul {
        margin: 2em 2em 1em 2em;
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
            margin: 1em;
            display: flex;
            align-items: center;
            position: relative;


            &:not(&.notHover)::before{
                content: '';
                position: absolute;
                top: -10%;
                height: 48%;
                transform: scaleY(0) skew(-15deg);
                width: 100%;
                background: #2196f3;

                z-index: 4;

                transform-origin: top;

                transition: transform 0.2s ease-in-out;
            }
            &:hover:not(&.notHover)::before{
                transform: scaleY(1) skew(-15deg);
            }

            &:not(&.notHover)::after{
                content: '';
                position: absolute;
                bottom: 20%;
                height: 48%;
                transform: scaleY(0) skew(-15deg);
                width: 100%;
                background: #2196f3;

                z-index: 4;

                transform-origin: bottom;

                transition: transform 0.2s ease-in-out;
            }
            &:hover:not(&.notHover)::after{
                transform: scaleY(1) skew(-15deg);
            }

            a {
                padding: 0.1em 0.5em 1em 0.5em;
                white-space: nowrap;
                color: #fff;
                cursor: pointer;
                z-index: 5;

                transition: color 0.2s ease-in-out;
            }


            .header-account--img{
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}
ul.dropdown-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    background: #eee;
    list-style-type: none;
    z-index: 99999;
    li {
        position: relative;
        padding: 0.8em 3em 0.8em 1.4em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #eee;
        color: #000;
        cursor: pointer;
        transition: background 0.4s ease-out, color 0.4s ease-out;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background: #333;
            transition: width 0.15s ease-in-out;
        }
        &.red::before{
            background: #ef5350;
        }
        &:hover {
            &::before {
                width: 12%;
            }
            a, button {
                &.red{
                    color: #ef5350;
                }
                font-weight: 600;
                transform: translateX(10px);
            }
        }
        a, button {
            white-space: nowrap;
            cursor: pointer;
            color: #000;
            font-weight: 400;
            transform: translateX(0);
            transition: transform 0.1s ease-in-out, font-weight 0.1s ease-in-out, color 0.1s ease-in-out;
        }
        svg {
            margin: 0 15px 0 0;
            fill: #000;
            transition: fill 0.4s ease-out;
        }
    }
    li.divider {
        height: 1px;
        width: 80%;
        margin: 1em auto;
        padding: 0;
        background: #333;
    }
    li.logout {
        &:hover {
            background: red;
        }
    }
}
form{
    a{
        color: #000;
    }
}


/*==============================================

        Classes

==============================================*/
.shadowed{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadowed-animate{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    transition: box-shadow 0.2s ease-out;

    &:hover{
        box-shadow: 0 13px 23px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
    }
}

