.gradient{
    margin-bottom: 2em;
    width: 30%;

    background: #fff;
    color: #000;

    position: relative;

    &_content{
        padding: 2em;
        margin: 10px;
        width: calc(100% - 20px);

        position: relative;
        @include center;

        background: #fff;

        &_header{
            display: flex;
            justify-content: space-around;
            align-items: center;

            p, div > span{
                @include font('Montserrat');
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        &_body{
            height: 12vh;
            width: 100%;
            margin-top: 2em;

            @include center;
        }

    }
}
