.ns{
    &_form{
        padding: 0;
        width: -moz-fit-content;
        width: fit-content;
        background: none !important;
    }
    &_btn{
        background: none;
        border: none;
        outline: none;
    }
}
