/*============================
    Widths
=============================*/
.w40{
    width: 40%;
}
.w45{
    width: 45%;
}


/*============================
    Margins
=============================*/
.mb-1{
    margin-bottom: 1rem;
}
.m-1{
    margin: 1rem;
}
.m-05{
    margin: 0.5rem;
}

