$breakpoint: 1270px;

/*============================
    Widths
=============================*/
.w40{
    width: 40%;

    @media screen and (max-width: $breakpoint){
        width: 90%;
    }
}
.w45{
    width: 45%;
}
.w60{
    width: 60%;
}
.w100{
    width: 100%;
}


/*============================
    Margins
=============================*/
.mb-1{
    margin-bottom: 1rem;
}
.m-1{
    margin: 1rem;
}
.m-05{
    margin: 0.5rem;
}


/*=======================================
*       Positioning
=======================================*/
.center{
    margin-right: auto;
    margin-left: auto;
}


