/*============================
    Fonts
=============================*/
.roboto {
    font-family: 'Roboto', sans-serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin roboto{
    font-family: 'Roboto', sans-serif;
}
@mixin montserrat{
    font-family: 'Montserrat', sans-serif;
}


/*============================
    Positioning
=============================*/
.tcenter{
    text-align: center;
}
.tleft{
    text-align: left;
}
.tright{
    text-align: right;
}


/*============================
    Styles
=============================*/
.bold {
    font-weight: 700;
}


/*============================
    Sizes
=============================*/
.fs09 {
    font-size: 0.9rem;
}
.fs11 {
    font-size: 1.1rem;
}
.fs12 {
    font-size: 1.2rem;
}
.fs14 {
    font-size: 1.4rem;
}
.fs20{
    font-size: 2rem;
}
.fs25{
    font-size: 2.5rem;
}
.fs30{
    font-size: 3rem;
}


/*============================
    Colors
=============================*/
.twhite{
    color: #fff;
}
.tblack{
    color: #000;
}


/*============================
    Transform
=============================*/
.uppercase{
    text-transform: uppercase;
}


/*=======================================
*       Specials
=======================================*/
.text-important{
    font-weight: bold;
    font-size: 1.2rem;
}
