/*==============================================

        Classes

==============================================*/
/*============================
    Globals
=============================*/
a, a:hover, a:active, a:focus{
    text-decoration: none;
}

/*============================
    Text
=============================*/
/*fonts*/
.roboto{
    font-family: 'Roboto', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
/*Styles*/
.bold{
    font-weight: 700;
}
.fs09{
    font-size: 0.9rem;
}
.fs11{
    font-size: 1.1rem;
}
.fs12{
    font-size: 1.2rem;
}
.fs14{
    font-size: 1.4rem;
}





/*==============================================

        Reset

==============================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*==============================================

        Header

==============================================*/
/*============================
    Svgs
=============================*/
#header_svgs{
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
}
/*On fix tous les svg en haut en absolu*/
#header_svgs > svg{
    position: absolute;

    left: 0;

    width: 110vw;
}
/*Top*/
#header_svgs svg:nth-child(1){
    top: 0;

    z-index: 3;
}
/*Middle*/
#header_svgs svg:nth-child(3){
    top: 150px;

    z-index: 2;
}
/*Bottom*/
#header_svgs svg:nth-child(5){
    top: 300px;

    z-index: 1;
}
/*Box extended*/
#header_svgs .box_extended{
    content: '';

    position: absolute;
    left: 0;

    height: 150px;
    width: 100vw;
}
#header_svgs .box_extended.box_middle{
    top: 0px;
    background: #3042A1;
}
#header_svgs .box_extended.box_bottom{
    top: 150px;
    background: #3F51B5;
}

/*============================
    Navbar
=============================*/
nav{
    position: relative;

    display: flex;
    justify-content: space-between;

    z-index: 4;
}
nav ul{
    margin: 2em;

    display: flex;
    align-items: center;

    list-style-type: none;
}
nav ul li{
    margin: 1em;

    display: flex;
    align-items: center;
}
nav ul li a{
    padding: 0.1em 0.5em 1em 0.5em;

    white-space: nowrap;

    color: #fff;
    cursor: pointer;
}

/*============================
    Dropdown
=============================*/
ul.dropdown-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    display: none;
    justify-content: space-evenly;
    flex-direction: column;

    background: #eee;

    list-style-type: none;
    z-index: 99999;
}

/*Li*/
ul.dropdown-content li {
    position: relative;
    padding: 0.8em 3em 0.8em 1.4em;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: #eee;

    color: #000;

    cursor: pointer;

    transition: background 0.4s ease-out, color 0.4s ease-out;
}
ul.dropdown-content li::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;

    background: #333;

    transition: width 0.15s ease-in-out;
}
ul.dropdown-content li:hover::before {
    width: 12%;
}

/*Links*/
ul.dropdown-content li a {
    color: #000;
    font-weight: 400;

    transform: translateX(0);

    transition: transform 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}
ul.dropdown-content li:hover a {
    font-weight: 600;
    transform: translateX(10px);
}

/*Divider*/
ul.dropdown-content li.divider {
    height: 1px;
    width: 80%;
    margin: 1em auto;
    padding: 0;
    background: #333;
}

/*Svg*/
ul.dropdown-content li svg {
    margin: 0 15px 0 0;
    fill: #000;
    transition: fill 0.4s ease-out;
}

/*Log out*/
ul.dropdown-content li.logout:hover {
    background: red;
}




