@charset "UTF-8";
/*==============================================

        Reset CSS

==============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding-bottom: 5rem;
}

body, html {
  overflow-x: hidden;
}

/*============================
    Globals
=============================*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}
nav ul {
  margin: 2em 2em 1em 2em;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  margin: 1em;
  display: flex;
  align-items: center;
  position: relative;
}
nav ul li:not(nav ul li.notHover)::before {
  content: "";
  position: absolute;
  top: -10%;
  height: 48%;
  transform: scaleY(0) skew(-15deg);
  width: 100%;
  background: #2196f3;
  z-index: 4;
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
}
nav ul li:hover:not(nav ul li.notHover)::before {
  transform: scaleY(1) skew(-15deg);
}
nav ul li:not(nav ul li.notHover)::after {
  content: "";
  position: absolute;
  bottom: 20%;
  height: 48%;
  transform: scaleY(0) skew(-15deg);
  width: 100%;
  background: #2196f3;
  z-index: 4;
  transform-origin: bottom;
  transition: transform 0.2s ease-in-out;
}
nav ul li:hover:not(nav ul li.notHover)::after {
  transform: scaleY(1) skew(-15deg);
}
nav ul li a {
  padding: 0.1em 0.5em 1em 0.5em;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: color 0.2s ease-in-out;
}
nav ul li .header-account--img {
  height: 30px;
  border-radius: 50%;
}

ul.dropdown-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  background: #eee;
  list-style-type: none;
  z-index: 99999;
}
ul.dropdown-content li {
  position: relative;
  padding: 0.8em 3em 0.8em 1.4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #eee;
  color: #000;
  cursor: pointer;
  transition: background 0.4s ease-out, color 0.4s ease-out;
}
ul.dropdown-content li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #333;
  transition: width 0.15s ease-in-out;
}
ul.dropdown-content li.red::before {
  background: #ef5350;
}
ul.dropdown-content li:hover::before {
  width: 12%;
}
ul.dropdown-content li:hover a, ul.dropdown-content li:hover button {
  font-weight: 600;
  transform: translateX(10px);
}
ul.dropdown-content li:hover a.red, ul.dropdown-content li:hover button.red {
  color: #ef5350;
}
ul.dropdown-content li a, ul.dropdown-content li button {
  white-space: nowrap;
  cursor: pointer;
  color: #000;
  font-weight: 400;
  transform: translateX(0);
  transition: transform 0.1s ease-in-out, font-weight 0.1s ease-in-out, color 0.1s ease-in-out;
}
ul.dropdown-content li svg {
  margin: 0 15px 0 0;
  fill: #000;
  transition: fill 0.4s ease-out;
}
ul.dropdown-content li.divider {
  height: 1px;
  width: 80%;
  margin: 1em auto;
  padding: 0;
  background: #333;
}
ul.dropdown-content li.logout:hover {
  background: red;
}

form a {
  color: #000;
}

/*==============================================

        Classes

==============================================*/
.shadowed {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadowed-animate {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.2s ease-out;
}
.shadowed-animate:hover {
  box-shadow: 0 13px 23px rgba(0, 0, 0, 0.19), 0 8px 8px rgba(0, 0, 0, 0.23);
}

/*============================
    Widths
=============================*/
.w05 {
  width: 5% !important;
}

.w06 {
  width: 6% !important;
}

.w07 {
  width: 7% !important;
}

.w08 {
  width: 8% !important;
}

.w09 {
  width: 9% !important;
}

.w10 {
  width: 10% !important;
}

.w11 {
  width: 11% !important;
}

.w12 {
  width: 12% !important;
}

.w13 {
  width: 13% !important;
}

.w14 {
  width: 14% !important;
}

.w15 {
  width: 15% !important;
}

.w16 {
  width: 16% !important;
}

.w17 {
  width: 17% !important;
}

.w18 {
  width: 18% !important;
}

.w19 {
  width: 19% !important;
}

.w20 {
  width: 20% !important;
}

.w21 {
  width: 21% !important;
}

.w22 {
  width: 22% !important;
}

.w23 {
  width: 23% !important;
}

.w24 {
  width: 24% !important;
}

.w25 {
  width: 25% !important;
}

.w26 {
  width: 26% !important;
}

.w27 {
  width: 27% !important;
}

.w28 {
  width: 28% !important;
}

.w29 {
  width: 29% !important;
}

.w30 {
  width: 30% !important;
}

.w31 {
  width: 31% !important;
}

.w32 {
  width: 32% !important;
}

.w33 {
  width: 33% !important;
}

.w34 {
  width: 34% !important;
}

.w35 {
  width: 35% !important;
}

.w36 {
  width: 36% !important;
}

.w37 {
  width: 37% !important;
}

.w38 {
  width: 38% !important;
}

.w39 {
  width: 39% !important;
}

.w40 {
  width: 40% !important;
}

.w41 {
  width: 41% !important;
}

.w42 {
  width: 42% !important;
}

.w43 {
  width: 43% !important;
}

.w44 {
  width: 44% !important;
}

.w45 {
  width: 45% !important;
}

.w46 {
  width: 46% !important;
}

.w47 {
  width: 47% !important;
}

.w48 {
  width: 48% !important;
}

.w49 {
  width: 49% !important;
}

.w50 {
  width: 50% !important;
}

.w51 {
  width: 51% !important;
}

.w52 {
  width: 52% !important;
}

.w53 {
  width: 53% !important;
}

.w54 {
  width: 54% !important;
}

.w55 {
  width: 55% !important;
}

.w56 {
  width: 56% !important;
}

.w57 {
  width: 57% !important;
}

.w58 {
  width: 58% !important;
}

.w59 {
  width: 59% !important;
}

.w60 {
  width: 60% !important;
}

.w61 {
  width: 61% !important;
}

.w62 {
  width: 62% !important;
}

.w63 {
  width: 63% !important;
}

.w64 {
  width: 64% !important;
}

.w65 {
  width: 65% !important;
}

.w66 {
  width: 66% !important;
}

.w67 {
  width: 67% !important;
}

.w68 {
  width: 68% !important;
}

.w69 {
  width: 69% !important;
}

.w70 {
  width: 70% !important;
}

.w71 {
  width: 71% !important;
}

.w72 {
  width: 72% !important;
}

.w73 {
  width: 73% !important;
}

.w74 {
  width: 74% !important;
}

.w75 {
  width: 75% !important;
}

.w76 {
  width: 76% !important;
}

.w77 {
  width: 77% !important;
}

.w78 {
  width: 78% !important;
}

.w79 {
  width: 79% !important;
}

.w80 {
  width: 80% !important;
}

.w81 {
  width: 81% !important;
}

.w82 {
  width: 82% !important;
}

.w83 {
  width: 83% !important;
}

.w84 {
  width: 84% !important;
}

.w85 {
  width: 85% !important;
}

.w86 {
  width: 86% !important;
}

.w87 {
  width: 87% !important;
}

.w88 {
  width: 88% !important;
}

.w89 {
  width: 89% !important;
}

.w90 {
  width: 90% !important;
}

.w91 {
  width: 91% !important;
}

.w92 {
  width: 92% !important;
}

.w93 {
  width: 93% !important;
}

.w94 {
  width: 94% !important;
}

.w95 {
  width: 95% !important;
}

.w96 {
  width: 96% !important;
}

.w97 {
  width: 97% !important;
}

.w98 {
  width: 98% !important;
}

.w99 {
  width: 99% !important;
}

.w100 {
  width: 100% !important;
}

/*============================
    Margins
=============================*/
.m-0 {
  margin: 0rem !important;
}

.mt-0 {
  margin: 0rem !important;
}

.mr-0 {
  margin: 0rem !important;
}

.mb-0 {
  margin: 0rem !important;
}

.ml-0 {
  margin: 0rem !important;
}

.m-05 {
  margin: 0.5rem !important;
}

.mt-05 {
  margin: 0.5rem !important;
}

.mr-05 {
  margin: 0.5rem !important;
}

.mb-05 {
  margin: 0.5rem !important;
}

.ml-05 {
  margin: 0.5rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.mt-1 {
  margin: 1rem !important;
}

.mr-1 {
  margin: 1rem !important;
}

.mb-1 {
  margin: 1rem !important;
}

.ml-1 {
  margin: 1rem !important;
}

.m-15 {
  margin: 1.5rem !important;
}

.mt-15 {
  margin: 1.5rem !important;
}

.mr-15 {
  margin: 1.5rem !important;
}

.mb-15 {
  margin: 1.5rem !important;
}

.ml-15 {
  margin: 1.5rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.mt-2 {
  margin: 2rem !important;
}

.mr-2 {
  margin: 2rem !important;
}

.mb-2 {
  margin: 2rem !important;
}

.ml-2 {
  margin: 2rem !important;
}

.m-25 {
  margin: 2.5rem !important;
}

.mt-25 {
  margin: 2.5rem !important;
}

.mr-25 {
  margin: 2.5rem !important;
}

.mb-25 {
  margin: 2.5rem !important;
}

.ml-25 {
  margin: 2.5rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.mt-3 {
  margin: 3rem !important;
}

.mr-3 {
  margin: 3rem !important;
}

.mb-3 {
  margin: 3rem !important;
}

.ml-3 {
  margin: 3rem !important;
}

.m-35 {
  margin: 3.5rem !important;
}

.mt-35 {
  margin: 3.5rem !important;
}

.mr-35 {
  margin: 3.5rem !important;
}

.mb-35 {
  margin: 3.5rem !important;
}

.ml-35 {
  margin: 3.5rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.mt-4 {
  margin: 4rem !important;
}

.mr-4 {
  margin: 4rem !important;
}

.mb-4 {
  margin: 4rem !important;
}

.ml-4 {
  margin: 4rem !important;
}

.m-45 {
  margin: 4.5rem !important;
}

.mt-45 {
  margin: 4.5rem !important;
}

.mr-45 {
  margin: 4.5rem !important;
}

.mb-45 {
  margin: 4.5rem !important;
}

.ml-45 {
  margin: 4.5rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.mt-5 {
  margin: 5rem !important;
}

.mr-5 {
  margin: 5rem !important;
}

.mb-5 {
  margin: 5rem !important;
}

.ml-5 {
  margin: 5rem !important;
}

.m-55 {
  margin: 5.5rem !important;
}

.mt-55 {
  margin: 5.5rem !important;
}

.mr-55 {
  margin: 5.5rem !important;
}

.mb-55 {
  margin: 5.5rem !important;
}

.ml-55 {
  margin: 5.5rem !important;
}

.m-6 {
  margin: 6rem !important;
}

.mt-6 {
  margin: 6rem !important;
}

.mr-6 {
  margin: 6rem !important;
}

.mb-6 {
  margin: 6rem !important;
}

.ml-6 {
  margin: 6rem !important;
}

.m-65 {
  margin: 6.5rem !important;
}

.mt-65 {
  margin: 6.5rem !important;
}

.mr-65 {
  margin: 6.5rem !important;
}

.mb-65 {
  margin: 6.5rem !important;
}

.ml-65 {
  margin: 6.5rem !important;
}

.m-7 {
  margin: 7rem !important;
}

.mt-7 {
  margin: 7rem !important;
}

.mr-7 {
  margin: 7rem !important;
}

.mb-7 {
  margin: 7rem !important;
}

.ml-7 {
  margin: 7rem !important;
}

.m-75 {
  margin: 7.5rem !important;
}

.mt-75 {
  margin: 7.5rem !important;
}

.mr-75 {
  margin: 7.5rem !important;
}

.mb-75 {
  margin: 7.5rem !important;
}

.ml-75 {
  margin: 7.5rem !important;
}

.m-8 {
  margin: 8rem !important;
}

.mt-8 {
  margin: 8rem !important;
}

.mr-8 {
  margin: 8rem !important;
}

.mb-8 {
  margin: 8rem !important;
}

.ml-8 {
  margin: 8rem !important;
}

.m-85 {
  margin: 8.5rem !important;
}

.mt-85 {
  margin: 8.5rem !important;
}

.mr-85 {
  margin: 8.5rem !important;
}

.mb-85 {
  margin: 8.5rem !important;
}

.ml-85 {
  margin: 8.5rem !important;
}

.m-9 {
  margin: 9rem !important;
}

.mt-9 {
  margin: 9rem !important;
}

.mr-9 {
  margin: 9rem !important;
}

.mb-9 {
  margin: 9rem !important;
}

.ml-9 {
  margin: 9rem !important;
}

.m-95 {
  margin: 9.5rem !important;
}

.mt-95 {
  margin: 9.5rem !important;
}

.mr-95 {
  margin: 9.5rem !important;
}

.mb-95 {
  margin: 9.5rem !important;
}

.ml-95 {
  margin: 9.5rem !important;
}

/*=======================================
*       Positioning
=======================================*/
.center {
  margin-right: auto;
  margin-left: auto;
}

.in-flex-2elements > * {
  width: 45% !important;
}

/*=======================================
*       Height
=======================================*/
.height-fit {
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
}

/*============================
    Flex
=============================*/
.flex {
  display: flex;
}

.flex-sparound {
  justify-content: space-around;
}

.flex-beet {
  justify-content: space-between;
}

.flex-cent {
  justify-content: center;
}

.flex-even {
  justify-content: space-evenly;
}

.flex-middle {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*============================
    Fonts
=============================*/
.roboto {
  font-family: "Roboto", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/*============================
    Positioning
=============================*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*============================
    Styles
=============================*/
.bold {
  font-weight: 700;
}

/*============================
    Sizes
=============================*/
.fs00 {
  font-size: 0rem;
}

.fs01 {
  font-size: 0.1rem;
}

.fs02 {
  font-size: 0.2rem;
}

.fs03 {
  font-size: 0.3rem;
}

.fs04 {
  font-size: 0.4rem;
}

.fs05 {
  font-size: 0.5rem;
}

.fs06 {
  font-size: 0.6rem;
}

.fs07 {
  font-size: 0.7rem;
}

.fs08 {
  font-size: 0.8rem;
}

.fs09 {
  font-size: 0.9rem;
}

.fs10 {
  font-size: 1rem;
}

.fs11 {
  font-size: 1.1rem;
}

.fs12 {
  font-size: 1.2rem;
}

.fs13 {
  font-size: 1.3rem;
}

.fs14 {
  font-size: 1.4rem;
}

.fs15 {
  font-size: 1.5rem;
}

.fs16 {
  font-size: 1.6rem;
}

.fs17 {
  font-size: 1.7rem;
}

.fs18 {
  font-size: 1.8rem;
}

.fs19 {
  font-size: 1.9rem;
}

.fs20 {
  font-size: 2rem;
}

.fs21 {
  font-size: 2.1rem;
}

.fs22 {
  font-size: 2.2rem;
}

.fs23 {
  font-size: 2.3rem;
}

.fs24 {
  font-size: 2.4rem;
}

.fs25 {
  font-size: 2.5rem;
}

.fs26 {
  font-size: 2.6rem;
}

.fs27 {
  font-size: 2.7rem;
}

.fs28 {
  font-size: 2.8rem;
}

.fs29 {
  font-size: 2.9rem;
}

.fs30 {
  font-size: 3rem;
}

/*============================
    Colors
=============================*/
.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-red {
  color: #F44336;
}

.text-green {
  color: #4CAF50;
}

/*============================
    Transform
=============================*/
.uppercase {
  text-transform: uppercase;
}

/*=======================================
*       Specials
=======================================*/
.text-important {
  font-weight: bold;
  font-size: 1.2rem;
}

/*==============================================

        Button

==============================================*/
.btn {
  position: relative;
  padding: 0.8rem 2rem;
  background: #333;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  cursor: pointer;
  transform: skew(-30deg);
}
.btn__text {
  display: flex;
  align-items: center;
  transform: skew(30deg);
}
.btn__text svg {
  fill: #fff;
  margin-left: 0.6em;
}
.btn__left {
  position: absolute;
  left: -25px;
  bottom: 0;
  height: 100%;
  width: 15px;
  background: #273689;
  transform-origin: bottom;
  transform: scaleY(1);
  transition: transform 0.2s ease-out;
}
.btn__right {
  position: absolute;
  right: -25px;
  top: 0;
  height: 100%;
  width: 15px;
  background: #273689;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.2s ease-out;
}
.btn:hover .btn__left, .btn:hover .btn__right {
  transform: scaleY(1.5);
}

/*==============================================

        Buttons Social Login

==============================================*/
.btn_login_social {
  width: 100%;
  padding: 0.5em 1em;
  margin: 1em 0;
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
  font-size: 1em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  transition: background 0.2s ease-in-out;
}
.btn_login_social__google {
  background: #F44336;
}
.btn_login_social__google:hover {
  background: #f32c1e;
}
.btn_login_social__github {
  background: #111111;
}
.btn_login_social__github:hover {
  background: #040404;
}
.btn_login_social__facebook {
  background: #1877F2;
}
.btn_login_social__facebook:hover {
  background: #0d6ae4;
}
.btn_login_social__twitter {
  background: #1DA1F2;
}
.btn_login_social__twitter:hover {
  background: #0d95e8;
}
.btn_login_social__reddit {
  background: #FF4500;
}
.btn_login_social__reddit:hover {
  background: #e63e00;
}
.btn_login_social__spotify {
  background: #1ED760;
}
.btn_login_social__spotify:hover {
  background: #1bc156;
}
.btn_login_social__deezer {
  background: #FEAA2D;
}
.btn_login_social__deezer:hover {
  background: #fea014;
}
.btn_login_social svg {
  margin: 0 2em 0 1em;
  height: 30px;
  fill: #fff;
}
.btn_login_social svg.btn_login_social__svg_animated {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
}
.btn_login_social:hover svg.btn_login_social__svg_animated {
  transform: translateX(10px);
}

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  min-width: 400px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__header .modal__close:before {
  content: "✕";
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}
.modal__close {
  background: transparent;
  border: 0;
}
.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}
.modal__btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.modal__btn:focus {
  transform: scale(1.05);
}
.modal__btn:hover {
  transform: scale(1.05);
}
.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.micromodal-slide {
  display: none;
}
.micromodal-slide__container {
  will-change: transform;
}
.micromodal-slide__overlay {
  will-change: transform;
}
.micromodal-slide.is-open {
  display: block;
  position: relative;
  z-index: 999999;
}
.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

/*==============================================

        Content

==============================================*/
.modal_menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style-type: none;
}
.modal_menu__item {
  display: block;
  padding: 1em;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background 0.2s ease-out;
}
.modal_menu__item:hover {
  background: rgba(0, 0, 0, 0.2);
}

form {
  padding: 3em 4em 2em 4em;
  width: 30vw;
}
form:not(.no-bg) {
  background: #e0e0e0;
}
form .form-row {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
form .form-row h2 {
  margin-bottom: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
form .form-row label {
  margin-bottom: 5px;
  font-size: 1.1rem;
}
form .form-row input {
  padding: 0.5em;
  outline: none;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 1.1rem;
}
form .form-row button {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.alert {
  width: 80%;
  padding: 0.8em 0;
  margin: 1em 0.2em;
  text-align: center;
}
.alert ul {
  list-style-type: none;
}
.alert-danger {
  color: #fff;
  background: #ef5350;
}
.alert-success {
  color: #fff;
  background: #4caf50;
}

.toastify {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 !important;
}
.toastify > p {
  height: 50px;
}
.toastify > span {
  padding: 0.4em 1.5em;
  background: #333;
  color: #fff;
}

.gradient {
  margin-bottom: 4em;
  width: 30%;
  background: #fff;
  color: #000;
  position: relative;
}
.gradient_content {
  padding: 2em;
  margin: 10px;
  width: calc(100% - 20px);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
}
.gradient_content_header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
}
.gradient_content_header p, .gradient_content_header div > span {
  font-family: "Montserrat", sans-serif;
}
.gradient_content_header svg {
  cursor: pointer;
}
.gradient_content_header__title {
  font-weight: bold;
  font-size: 1.2rem;
}
.gradient_content_header__author {
  font-weight: 200;
  color: #666;
  font-size: 0.8rem;
}
.gradient_content_body {
  height: 12vh;
  width: 100%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

.gradient_panel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.gradient_panel__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
.gradient_panel__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.gradient_panel__header__titles {
  margin-right: 4em;
}
.gradient_panel__header__titles__author {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  font-style: italic;
}
.gradient_panel__header__favs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gradient_panel__body {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.gradient_panel__body_color {
  margin: 0.2em;
  height: 35vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gradient_panel__body_color > span {
  margin: 1em 0;
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.gradient_panel__footer {
  margin: 2em;
  display: flex;
  justify-content: space-around;
}

.ns_form {
  padding: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  background: none !important;
}
.ns_btn {
  background: none;
  border: none;
  outline: none;
}

@media screen and (max-width: 1270px) {
  .hide_on_mobile {
    display: none;
  }

  .on_mobile__width__w05 {
    width: 5%;
  }

  .on_mobile__width__w06 {
    width: 6%;
  }

  .on_mobile__width__w07 {
    width: 7%;
  }

  .on_mobile__width__w08 {
    width: 8%;
  }

  .on_mobile__width__w09 {
    width: 9%;
  }

  .on_mobile__width__w10 {
    width: 10%;
  }

  .on_mobile__width__w11 {
    width: 11%;
  }

  .on_mobile__width__w12 {
    width: 12%;
  }

  .on_mobile__width__w13 {
    width: 13%;
  }

  .on_mobile__width__w14 {
    width: 14%;
  }

  .on_mobile__width__w15 {
    width: 15%;
  }

  .on_mobile__width__w16 {
    width: 16%;
  }

  .on_mobile__width__w17 {
    width: 17%;
  }

  .on_mobile__width__w18 {
    width: 18%;
  }

  .on_mobile__width__w19 {
    width: 19%;
  }

  .on_mobile__width__w20 {
    width: 20%;
  }

  .on_mobile__width__w21 {
    width: 21%;
  }

  .on_mobile__width__w22 {
    width: 22%;
  }

  .on_mobile__width__w23 {
    width: 23%;
  }

  .on_mobile__width__w24 {
    width: 24%;
  }

  .on_mobile__width__w25 {
    width: 25%;
  }

  .on_mobile__width__w26 {
    width: 26%;
  }

  .on_mobile__width__w27 {
    width: 27%;
  }

  .on_mobile__width__w28 {
    width: 28%;
  }

  .on_mobile__width__w29 {
    width: 29%;
  }

  .on_mobile__width__w30 {
    width: 30%;
  }

  .on_mobile__width__w31 {
    width: 31%;
  }

  .on_mobile__width__w32 {
    width: 32%;
  }

  .on_mobile__width__w33 {
    width: 33%;
  }

  .on_mobile__width__w34 {
    width: 34%;
  }

  .on_mobile__width__w35 {
    width: 35%;
  }

  .on_mobile__width__w36 {
    width: 36%;
  }

  .on_mobile__width__w37 {
    width: 37%;
  }

  .on_mobile__width__w38 {
    width: 38%;
  }

  .on_mobile__width__w39 {
    width: 39%;
  }

  .on_mobile__width__w40 {
    width: 40%;
  }

  .on_mobile__width__w41 {
    width: 41%;
  }

  .on_mobile__width__w42 {
    width: 42%;
  }

  .on_mobile__width__w43 {
    width: 43%;
  }

  .on_mobile__width__w44 {
    width: 44%;
  }

  .on_mobile__width__w45 {
    width: 45%;
  }

  .on_mobile__width__w46 {
    width: 46%;
  }

  .on_mobile__width__w47 {
    width: 47%;
  }

  .on_mobile__width__w48 {
    width: 48%;
  }

  .on_mobile__width__w49 {
    width: 49%;
  }

  .on_mobile__width__w50 {
    width: 50%;
  }

  .on_mobile__width__w51 {
    width: 51%;
  }

  .on_mobile__width__w52 {
    width: 52%;
  }

  .on_mobile__width__w53 {
    width: 53%;
  }

  .on_mobile__width__w54 {
    width: 54%;
  }

  .on_mobile__width__w55 {
    width: 55%;
  }

  .on_mobile__width__w56 {
    width: 56%;
  }

  .on_mobile__width__w57 {
    width: 57%;
  }

  .on_mobile__width__w58 {
    width: 58%;
  }

  .on_mobile__width__w59 {
    width: 59%;
  }

  .on_mobile__width__w60 {
    width: 60%;
  }

  .on_mobile__width__w61 {
    width: 61%;
  }

  .on_mobile__width__w62 {
    width: 62%;
  }

  .on_mobile__width__w63 {
    width: 63%;
  }

  .on_mobile__width__w64 {
    width: 64%;
  }

  .on_mobile__width__w65 {
    width: 65%;
  }

  .on_mobile__width__w66 {
    width: 66%;
  }

  .on_mobile__width__w67 {
    width: 67%;
  }

  .on_mobile__width__w68 {
    width: 68%;
  }

  .on_mobile__width__w69 {
    width: 69%;
  }

  .on_mobile__width__w70 {
    width: 70%;
  }

  .on_mobile__width__w71 {
    width: 71%;
  }

  .on_mobile__width__w72 {
    width: 72%;
  }

  .on_mobile__width__w73 {
    width: 73%;
  }

  .on_mobile__width__w74 {
    width: 74%;
  }

  .on_mobile__width__w75 {
    width: 75%;
  }

  .on_mobile__width__w76 {
    width: 76%;
  }

  .on_mobile__width__w77 {
    width: 77%;
  }

  .on_mobile__width__w78 {
    width: 78%;
  }

  .on_mobile__width__w79 {
    width: 79%;
  }

  .on_mobile__width__w80 {
    width: 80%;
  }

  .on_mobile__width__w81 {
    width: 81%;
  }

  .on_mobile__width__w82 {
    width: 82%;
  }

  .on_mobile__width__w83 {
    width: 83%;
  }

  .on_mobile__width__w84 {
    width: 84%;
  }

  .on_mobile__width__w85 {
    width: 85%;
  }

  .on_mobile__width__w86 {
    width: 86%;
  }

  .on_mobile__width__w87 {
    width: 87%;
  }

  .on_mobile__width__w88 {
    width: 88%;
  }

  .on_mobile__width__w89 {
    width: 89%;
  }

  .on_mobile__width__w90 {
    width: 90%;
  }

  .on_mobile__width__w91 {
    width: 91%;
  }

  .on_mobile__width__w92 {
    width: 92%;
  }

  .on_mobile__width__w93 {
    width: 93%;
  }

  .on_mobile__width__w94 {
    width: 94%;
  }

  .on_mobile__width__w95 {
    width: 95%;
  }

  .on_mobile__width__w96 {
    width: 96%;
  }

  .on_mobile__width__w97 {
    width: 97%;
  }

  .on_mobile__width__w98 {
    width: 98%;
  }

  .on_mobile__width__w99 {
    width: 99%;
  }

  .on_mobile__width__w100 {
    width: 100%;
  }
}
/*Header Svgs*/
#header_svgs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}
#header_svgs > svg {
  position: absolute;
  left: 0;
  width: 110vw;
}
#header_svgs svg:nth-child(1) {
  top: 0;
  z-index: 3;
}
#header_svgs svg:nth-child(3) {
  top: 150px;
  z-index: 2;
}
#header_svgs svg:nth-child(5) {
  top: 300px;
  z-index: 1;
}
#header_svgs .box_extended {
  content: "";
  position: absolute;
  left: 0;
  height: 150px;
  width: 100vw;
}
#header_svgs .box_extended.box_middle {
  top: 0px;
  background: #3042A1;
}
#header_svgs .box_extended.box_bottom {
  top: 150px;
  background: #3F51B5;
}

.main {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1270px) {
  .content_wrapper {
    flex-direction: column;
  }
}

.home_wrappers {
  height: 86vh;
  padding-bottom: 3vh;
}

/*==============================================

        Live Preview

==============================================*/
.preview {
  height: 42vh;
  overflow: hidden;
}
.preview__header {
  transition: background 0.2s ease-out;
}
.preview__header__title {
  -webkit-text-stroke: 1px #000;
  color: #fff;
  padding: 0.6em;
  transition: color 0.2s ease-out;
}
.preview__body {
  background: #eee;
}
.preview__body__title {
  padding: 1rem;
  color: #000;
}
.preview__body__panels {
  flex-wrap: wrap;
  padding: 0 5%;
}
.preview__body__panels > div {
  margin: 1rem 0;
  height: 120px;
  flex: 0 0 26%;
  transition: background 0.2s ease-out;
}

/*==============================================

        Picker

==============================================*/
.picker {
  width: 100%;
  height: 50vh;
  background: #eee;
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.picker__table {
  width: 95%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
.picker__table__header th {
  width: 40px;
}
.picker__table tr:not(:first-child) th {
  border-bottom: 1px solid #999;
}
.picker__table td {
  height: 40px;
}
.picker__table td span {
  display: block;
  height: 40px;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  transition: width 0.2s ease-out, height 0.2s ease-out;
}
.picker__table td span.active {
  display: block;
  height: 30px;
  width: 30px;
}
.picker__table td:not(:first-child) {
  border: 1px solid #999;
}
.picker__table td.color_exporting {
  background: #72368a;
}

.selected {
  background: #eee;
  height: 30vh;
  min-height: 300px;
  margin-top: 2em;
  position: relative;
}
.selected__svg_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  filter: drop-shadow(0 0 2px black);
  z-index: 11;
}
.selected__svg_top path {
  transition: fill 0.2s ease-out;
}
.selected__svg_bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  filter: drop-shadow(0 0 2px black);
  z-index: 11;
}
.selected__svg_bot path {
  transition: fill 0.2s ease-out;
}
.selected__wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 12;
}
.selected__wrapper__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 3em;
  flex: 1;
}
.selected__wrapper__header__square {
  height: 30px;
  width: 30px;
  box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: background 0.2s ease-out;
}
.selected__wrapper__header__color {
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.1em 1em;
  color: #fff;
  -webkit-text-stroke: 1px #000;
}
.selected__wrapper__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1em 1em 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.selected__wrapper__body__table {
  width: 80%;
}
.selected__wrapper__body__table table {
  width: 100%;
  border-collapse: collapse;
}
.selected__wrapper__body__table table th, .selected__wrapper__body__table table td {
  width: 50%;
  padding: 1em;
  border: 1px solid #ddd;
}
.selected__wrapper__body__table table th p, .selected__wrapper__body__table table td p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected__wrapper__body__table table th p span:first-child, .selected__wrapper__body__table table td p span:first-child {
  padding-right: 1em;
}
.selected__wrapper__body__table table th p span:last-child, .selected__wrapper__body__table table td p span:last-child {
  cursor: pointer;
}
.selected__wrapper__body__table table tr:nth-child(odd) {
  background: #fff;
}
.selected__wrapper__body__table table tr:nth-child(even) {
  background: #e0e0e0;
}
.selected__wrapper__body__variations {
  display: flex;
  position: relative;
  height: 100%;
}
.selected__wrapper__body__variations > div {
  height: 100%;
}
.selected__wrapper__body__variations__lighter__title {
  color: #eee;
}
.selected__wrapper__body__variations__lighter__text {
  color: #eee;
}
.selected__wrapper__body__variations__darker__title {
  color: #111;
}
.selected__wrapper__body__variations__darker__text {
  color: #111;
}

/*=======================================
*       Panels
=======================================*/
.panel {
  padding: 2em 1em;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  color: #000;
}

/*=======================================
*       Code Samples
=======================================*/
.code_sample {
  background: #1e293b;
  border-radius: 2px;
  padding: 1em;
  margin: 1em;
}
.code_sample__item {
  font-size: 0.9em !important;
  white-space: pre-wrap !important;
}
